<ion-header>

  <ion-navbar>
    <ion-title>Расписание
      <button ion-button style="float: right;" (click)="switchWeek()">{{weekState}}</button>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div id="wrapper">
    <ion-slides #slider>
      <ion-slide *ngFor="let day of days">
        <h1>{{day.dayN}}</h1>
        <ion-list>
          <div *ngFor="let subject of day.subjects">
            <ion-card *ngIf="subject.parity == weekParity || subject.parity == null; else empty">
              <ion-row>
                <ion-col col-6>
                  <p>{{subject.time}}</p>
                </ion-col>
                <ion-col col-6>
                  <p>Ауд: {{subject.classroom}}</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-12>
                  <h1>{{subject.subject}}</h1>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>
                  <h2>Курс:{{subject.course}}</h2>
                </ion-col>
                <ion-col col-6>
                  <h2>Группа:{{subject.group}}</h2>
                </ion-col>
              </ion-row>
              <ng-template #empty></ng-template>
            </ion-card>
          </div>
        </ion-list>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
